
<div class="row" *ngIf="board != null">

  <div class="col-md-12">

    <table class="table word-length-{{ wordLength }}" [ngClass]="{ 'player-board': isPlayer, 'mini-board': !isPlayer }">
      <tbody>
      <div class="time-limit-line" *ngIf="deadlinePct != null && board.status == 'Playing'" [ngStyle]="{'top': deadlinePct + '%'}"></div>

      <tr *ngFor="let row of board.rows; trackBy: trackByUtils.trackByRow" class="game-row played-row">
        <td class="order-cell">
          <span *ngIf="!row.isCorrect && row.playedOrder && !row.emoji">
            {{ row.playedOrder }}<sup>{{ row.playedOrder | ordinal }}</sup>
          </span>
          <span *ngIf="row.isCorrect && board.solvedOrder" class="solved-order">
            {{ board.solvedOrder }}<sup>{{ board.solvedOrder | ordinal }}</sup>
          </span>
          <span *ngIf="row.wasForced" title="turdletron">
            🤖
          </span>
          <span *ngIf="!row.isCorrect && !row.wasForced && row.emoji">
            {{ row.emoji }}
          </span>
        </td>

        <td *ngFor="let tile of row.tiles; trackBy: trackByUtils.trackByTile" class="game-tile letter-color" [attr.data-status]="tile.status">
          {{ tile.letterPosition?.letter }}
        </td>

        <td class="points-cell">
          <ng-template #popContent>
            <div>
              <table class="point-adjustment">
                <tr *ngFor="let pointAdj of row.pointsAdjustments" class="point-adjustment">
                  <td>
                      {{ pointAdj.description || (pointAdj.reason | humanize) }}
                  </td>

                  <td>
                    <caption class="badge badge-pill" [ngClass]="{ 'alert-danger': pointAdj.points < 0, 'alert-success': pointAdj.points > 0 }">
                      {{ pointAdj.points | showPlus }}pts
                    </caption>
                  </td>
                </tr>
              </table>
            </div>
          </ng-template>

          <span *ngIf="row.pointsAwarded" [ngbPopover]="row.pointsAdjustments.length > 0 ? popContent : null" triggers="mouseenter:mouseleave" popoverClass="popover-lg">
            {{ row.pointsAwarded | showPlus }}
          </span>
        </td>

      </tr>

      <tr *ngIf="board.rows.length < maxGuesses" class="game-row current-row">
        <td class="order-cell">
<!--          <span *ngIf="isPlayer && board.status == 'Playing' && currentExpectedGuessCount != null && board.rows.length < currentExpectedGuessCount + 1 && secondsUntilGuessDeadline || 0 > 0">-->
<!--            {{ secondsUntilGuessDeadline }}-->
<!--          </span>-->
        </td>
        <td class="game-tile" *ngFor="let i of enumerate(wordLength)">{{ currentWord ? currentWord[i] : '' }}</td>
        <td class="points-cell">
<!--          {{ board.currentRowPoints | showPlus }}-->
        </td>
      </tr>

      <tr *ngFor="let row of enumerate(maxGuesses - 1 - board.rows.length)" class="game-row unplayed-row">
        <td class="order-cell"></td>
        <td class="game-tile" *ngFor="let i of enumerate(wordLength)"></td>
        <td class="points-cell"></td>
      </tr>
      </tbody>
    </table>

  </div>

</div>

