<div class="container" *ngIf="isConnected">
<!--  <h2>Please enter your name, turdler</h2>-->
<!--  <form [formGroup]="aliasForm" (ngSubmit)="registerAlias()">-->
<!--    <div class="form-row">-->
<!--      <div class="form-group col-md-6">-->
<!--        <label for="inputAlias">Name</label>-->
<!--        <div class="input-group">-->
<!--          <input type="text" class="form-control" id="inputAlias" formControlName="Alias" autofocus required>-->
<!--          <div class="input-group-append">-->
<!--            <button type="submit" [disabled]="!aliasForm.valid || !isConnected" class="btn btn-success">Go!</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </form>-->
  <div class="row mb-3">
    <div class="col-md-8 offset-md-2 text-center">
      <button class="btn btn-primary btn-lg massive-button" (click)="createRoom()">Create New Room</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <form [formGroup]="joinForm" (ngSubmit)="joinRoom()">
        <div class="input-group">
          <input type="text" class="form-control massive-input" placeholder="Room code" formControlName="roomCode" required>
          <button class="btn btn-success btn-lg massive-button" type="submit" [disabled]="!joinForm.valid">Join Room</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container" *ngIf="!isConnected">
  Connecting...
</div>
